body {
  background-color: cadetblue;
  text-align: justify;
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 20pt;
  margin-bottom: 134px;
}

p {
  font-size: 10pt;
}

.red-text {
  color: red;
}

#lname {
  font-size: 100pts;
  color: blue;
}
